{% extends 'flatpages/default.html' %}
{% load my_filters %}

{% block title %}Список новостей{% endblock title %}

{% block navbar %} NewsPortal {% endblock navbar %}

{% block content %}
<h2>Количество новостей: {{news_list|length}}</h2>
<h2>{{news_detail}}</h2>
<hr>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью</td>
        </tr>
        {% for news in news_list %}
        <tr>
            <td>{{ news.header | correct_words }}</td>
            <td>{{ news.time_in | date:'M d Y' }}</td>
            <td>{{ news.content | truncatechars:20 | correct_words }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}