{% extends 'flatpages/default.html' %}
{% load my_filters %}

{% block title %}Детальная информация{% endblock title %}

{% block content %}
<h2>Описание публикации</h2>
<hr>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью</td>
            <td>Автор</td>
            <td>Рейтинг</td>
        </tr>
        <tr>
            <td>{{ news_detail.header | correct_words}}</td>
            <td>{{ news_detail.content | correct_words}}</td>
            <td>{{ news_detail.time_in |date:'M d Y' }}</td>
            <td>{{ news_detail.author.author_user }}</td>
            <td>{{ news_detail.rating }}</td>
        </tr>
    </table>
{% endblock content %}