{% extends 'flatpages/default.html' %}
{% load my_filters %}

{% block title %}Список новостей{% endblock title %}

{% block navbar %} NewsPortal {% endblock navbar %}

{% block content %}
    <h2>Количество новостей: {{ news_list|length }}</h2>

    <form method="get">
        {{ filterset.form.as_p }}
        <button type="submit">Фильтровать</button>
    </form>
    <h2>{{ news_detail }}</h2>
    <hr>
    {% if perms.portal.add_post %}
        <a href="{% url 'portal:publication_create' %}">Добавить публикацию</a>
    {% endif %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью</td>
        </tr>
        {% for news in news_list %}
            <tr>
                <td>{{ news.header }}</td>
                <td>{{ news.time_in | date:'M d Y' }}</td>
                <td> {{ news.content | truncatechars:100 }}</td>
            </tr>
            
                <td>
                    {% if perms.portal.change_post %}
                    <a href="{% url 'portal:publication_update' pk=news.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.portal.delete_post %}
                    <a href="{% url 'portal:publication_delete' news.id %}">Удалить</a>
                    {% endif %}
                </td>
            
        {% endfor %}
    </table>

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}